<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <entry key="input.column" type="xstring" value="JSON_temp"/>
        <entry key="remove.input.column" type="xboolean" value="false"/>
        <entry key="new.column.name" type="xstring" value="XML"/>
        <entry key="array.prefix" type="xstring" value="Array"/>
        <entry key="boolean.prefix" type="xstring" value="Boolean"/>
        <entry key="decimal.prefix" type="xstring" value="Decimal"/>
        <entry key="integer.prefix" type="xstring" value="Integer"/>
        <entry key="array.item.element" type="xstring" value="icd"/>
        <entry key="namespace" type="xstring" value=""/>
        <entry key="null.prefix" type="xstring" value="null"/>
        <entry key="root.element" type="xstring" value="root"/>
        <entry key="string.prefix" type="xstring" value="String"/>
        <entry key="keep.type.information" type="xboolean" value="true"/>
        <entry key="specify.namespace" type="xboolean" value="false"/>
        <entry key="create.text.for.specific.keys" type="xboolean" value="true"/>
        <entry key="key.for.text" type="xstring" value="#text"/>
        <entry key="parent.key.as.element.name" type="xboolean" value="false"/>
        <entry key="translate.#comment.as.element" type="xboolean" value="true"/>
        <entry key="translate.?prefix.as.element" type="xboolean" value="true"/>
        <entry key="value.remove.invalid.chars" type="xboolean" value="true"/>
    </config>
    <config key="nodeAnnotation">
        <entry key="text" type="xstring" value="Convert JSON%%00010to XML Format"/>
        <entry key="contentType" type="xstring" value="text/plain"/>
        <entry key="bgcolor" type="xint" value="16777215"/>
        <entry key="x-coordinate" type="xint" value="0"/>
        <entry key="y-coordinate" type="xint" value="0"/>
        <entry key="width" type="xint" value="0"/>
        <entry key="height" type="xint" value="0"/>
        <entry key="alignment" type="xstring" value="CENTER"/>
        <entry key="borderSize" type="xint" value="0"/>
        <entry key="borderColor" type="xint" value="0"/>
        <entry key="defFontSize" type="xint" value="-1"/>
        <entry key="annotation-version" type="xint" value="20230412"/>
        <config key="styles"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="IDLE"/>
    <entry key="factory" type="xstring" value="org.knime.json.node.toxml.JSONToXMLNodeFactory"/>
    <entry key="node-name" type="xstring" value="JSON to XML"/>
    <entry key="node-bundle-name" type="xstring" value="JSON related functionality for KNIME"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.json"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.4.1.v202501291500"/>
    <entry key="node-feature-name" type="xstring" value="KNIME JSON-Processing"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.json.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.4.1.v202501291500"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="JSON to XML"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
