<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="selectedColumns">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="74"/>
                <entry key="0" type="xstring" value="ClaimNumber"/>
                <entry key="1" type="xstring" value="NSKCityCode"/>
                <entry key="2" type="xstring" value="BOMCityCode"/>
                <entry key="3" type="xstring" value="LKOCityCode"/>
                <entry key="4" type="xstring" value="DELCityCode"/>
                <entry key="5" type="xstring" value="MAACityCode"/>
                <entry key="6" type="xstring" value="BDQCityCode"/>
                <entry key="7" type="xstring" value="ATQCityCode"/>
                <entry key="8" type="xstring" value="BLRCityCode"/>
                <entry key="9" type="xstring" value="AMDCityCode"/>
                <entry key="10" type="xstring" value="HYDCityCode"/>
                <entry key="11" type="xstring" value="PATCityCode"/>
                <entry key="12" type="xstring" value="PNQCityCode"/>
                <entry key="13" type="xstring" value="CJBCityCode"/>
                <entry key="14" type="xstring" value="JAICityCode"/>
                <entry key="15" type="xstring" value="KNUCityCode"/>
                <entry key="16" type="xstring" value="IDRCityCode"/>
                <entry key="17" type="xstring" value="CCUCityCode"/>
                <entry key="18" type="xstring" value="VSKCityCode"/>
                <entry key="19" type="xstring" value="THNCityCode"/>
                <entry key="20" type="xstring" value="NGPCityCode"/>
                <entry key="21" type="xstring" value="AGRCityCode"/>
                <entry key="22" type="xstring" value="BHOCityCode"/>
                <entry key="23" type="xstring" value="STVCityCode"/>
                <entry key="24" type="xstring" value="PublicLimitedCompanyEnterpriseType"/>
                <entry key="25" type="xstring" value="OnePersonCompanyEnterpriseType"/>
                <entry key="26" type="xstring" value="SoleProprietorshipEnterpriseType"/>
                <entry key="27" type="xstring" value="PrivateLimitedCompanyEnterpriseType"/>
                <entry key="28" type="xstring" value="JointVentureCompanyEnterpriseType"/>
                <entry key="29" type="xstring" value="PartnershipFirmEnterpriseType"/>
                <entry key="30" type="xstring" value="ForeignSubsidaryEnterpriseType"/>
                <entry key="31" type="xstring" value="CooperativeSocietyEnterpriseType"/>
                <entry key="32" type="xstring" value="NonProfitOrganization_NpoEnterpriseType"/>
                <entry key="33" type="xstring" value="PrivateLimitedMsmeSmallEnterpriseType"/>
                <entry key="34" type="xstring" value="PrivateLimitedMsmeMicroEnterpriseType"/>
                <entry key="35" type="xstring" value="PrivateLimitedMsmeMediumEnterpriseType"/>
                <entry key="36" type="xstring" value="LimitedLiabilityParterneshipLlpEnterpriseType"/>
                <entry key="37" type="xstring" value="PropertyLossClaimType"/>
                <entry key="38" type="xstring" value="PropertyDamageClaimType"/>
                <entry key="39" type="xstring" value="InTransitClaimSite"/>
                <entry key="40" type="xstring" value="WarehouseClaimSite"/>
                <entry key="41" type="xstring" value="OtherClaimSite"/>
                <entry key="42" type="xstring" value="InventoryRawMaterialProductInsured"/>
                <entry key="43" type="xstring" value="CamerasandotherMiscSecurityEquipmentProductInsured"/>
                <entry key="44" type="xstring" value="FixturesProductInsured"/>
                <entry key="45" type="xstring" value="PumpsAndMotorsProductInsured"/>
                <entry key="46" type="xstring" value="MiscEngineeringToolsProductInsured"/>
                <entry key="47" type="xstring" value="MiscElectronicItemsProductInsured"/>
                <entry key="48" type="xstring" value="InventoryFinishedGoodsProductInsured"/>
                <entry key="49" type="xstring" value="MiscElectricalEquipmentProductInsured"/>
                <entry key="50" type="xstring" value="FurnitureProductInsured"/>
                <entry key="51" type="xstring" value="HeatingVentilationAndAirConditioningHvacSystemProductInsured"/>
                <entry key="52" type="xstring" value="MiscSensorsProductInsured"/>
                <entry key="53" type="xstring" value="MiscLabEquipmentProductInsured"/>
                <entry key="54" type="xstring" value="PropertyPlantAndEquipmentPpePartsProductInsured"/>
                <entry key="55" type="xstring" value="IncidentDate"/>
                <entry key="56" type="xstring" value="DateReceived"/>
                <entry key="57" type="xstring" value="ClaimAmount"/>
                <entry key="58" type="xstring" value="CloseAmount"/>
                <entry key="59" type="xstring" value="Disposition"/>
                <entry key="60" type="xstring" value="IncidentDateDayOfWeek"/>
                <entry key="61" type="xstring" value="IncidentDateDayOfMonth"/>
                <entry key="62" type="xstring" value="IncidentDateDayOfYear"/>
                <entry key="63" type="xstring" value="IncidentDateWeek"/>
                <entry key="64" type="xstring" value="IncidentDateMonth"/>
                <entry key="65" type="xstring" value="IncidentDateQuarter"/>
                <entry key="66" type="xstring" value="IncidentDateYear"/>
                <entry key="67" type="xstring" value="DateReceivedDayOfWeek"/>
                <entry key="68" type="xstring" value="DateReceivedDayOfMonth"/>
                <entry key="69" type="xstring" value="DateReceivedDayOfYear"/>
                <entry key="70" type="xstring" value="DateReceivedWeek"/>
                <entry key="71" type="xstring" value="DateReceivedMonth"/>
                <entry key="72" type="xstring" value="DateReceivedQuarter"/>
                <entry key="73" type="xstring" value="DateReceivedYear"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="0"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
                <entry key="excludeMatching" type="xboolean" value="false"/>
            </config>
            <config key="datatype">
                <config key="typelist">
                    <entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.time.localdate.LocalDateValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
                </config>
            </config>
        </config>
        <entry key="rowkey.key" type="xstring" value="key"/>
        <entry key="direction" type="xstring" value="RowsOutside"/>
        <entry key="column.name.separator" type="xstring" value="."/>
        <entry key="output.column.name" type="xstring" value="JSON_temp"/>
        <entry key="row.key.option" type="xstring" value="omit"/>
        <entry key="column.names.as.path" type="xboolean" value="false"/>
        <entry key="remove.source.columns" type="xboolean" value="false"/>
        <entry key="output.boolean.asNumbers" type="xboolean" value="false"/>
        <entry key="missing.values.are.omitted" type="xboolean" value="false"/>
    </config>
    <config key="nodeAnnotation">
        <entry key="text" type="xstring" value="Convert Table%%00010to JSON Format"/>
        <entry key="contentType" type="xstring" value="text/plain"/>
        <entry key="bgcolor" type="xint" value="16777215"/>
        <entry key="x-coordinate" type="xint" value="0"/>
        <entry key="y-coordinate" type="xint" value="0"/>
        <entry key="width" type="xint" value="0"/>
        <entry key="height" type="xint" value="0"/>
        <entry key="alignment" type="xstring" value="CENTER"/>
        <entry key="borderSize" type="xint" value="0"/>
        <entry key="borderColor" type="xint" value="0"/>
        <entry key="defFontSize" type="xint" value="-1"/>
        <entry key="annotation-version" type="xint" value="20230412"/>
        <config key="styles"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="IDLE"/>
    <entry key="factory" type="xstring" value="org.knime.json.node.fromtable.TableToJsonNodeFactory"/>
    <entry key="node-name" type="xstring" value="Table to JSON"/>
    <entry key="node-bundle-name" type="xstring" value="JSON related functionality for KNIME"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.json"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.4.1.v202501291500"/>
    <entry key="node-feature-name" type="xstring" value="KNIME JSON-Processing"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.json.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.4.1.v202501291500"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Table to JSON"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
