<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="selectedColumns">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="20"/>
                <entry key="0" type="xstring" value="age"/>
                <entry key="1" type="xstring" value="gender"/>
                <entry key="2" type="xstring" value="smoking"/>
                <entry key="3" type="xstring" value="alcohol_consumption"/>
                <entry key="4" type="xstring" value="physical_activity_level"/>
                <entry key="5" type="xstring" value="bmi"/>
                <entry key="6" type="xstring" value="diabetes"/>
                <entry key="7" type="xstring" value="hypertension"/>
                <entry key="8" type="xstring" value="cholesterol_level"/>
                <entry key="9" type="xstring" value="resting_bp"/>
                <entry key="10" type="xstring" value="heart_rate"/>
                <entry key="11" type="xstring" value="family_history"/>
                <entry key="12" type="xstring" value="stress_level"/>
                <entry key="13" type="xstring" value="chest_pain_type"/>
                <entry key="14" type="xstring" value="thalassemia"/>
                <entry key="15" type="xstring" value="fasting_blood_sugar"/>
                <entry key="16" type="xstring" value="ecg_results"/>
                <entry key="17" type="xstring" value="exercise_induced_angina"/>
                <entry key="18" type="xstring" value="max_heart_rate_achieved"/>
                <entry key="19" type="xstring" value="heart_attack_risk"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="0"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceInclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
                <entry key="excludeMatching" type="xboolean" value="false"/>
            </config>
            <config key="datatype">
                <config key="typelist">
                    <entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
                </config>
            </config>
        </config>
        <entry key="rowkey.key" type="xstring" value="key"/>
        <entry key="direction" type="xstring" value="KeepRows"/>
        <entry key="column.name.separator" type="xstring" value="."/>
        <entry key="output.column.name" type="xstring" value="JSON"/>
        <entry key="row.key.option" type="xstring" value="omit"/>
        <entry key="column.names.as.path" type="xboolean" value="false"/>
        <entry key="remove.source.columns" type="xboolean" value="false"/>
        <entry key="output.boolean.asNumbers" type="xboolean" value="false"/>
        <entry key="missing.values.are.omitted" type="xboolean" value="true"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.json.node.fromtable.TableToJsonNodeFactory"/>
    <entry key="node-name" type="xstring" value="Table to JSON"/>
    <entry key="node-bundle-name" type="xstring" value="JSON related functionality for KNIME"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.json"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.4.0.v202411251149"/>
    <entry key="node-feature-name" type="xstring" value="KNIME JSON-Processing"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.json.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.4.0.v202411251149"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Table to JSON"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 50000, Cols: 21"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="6f635a48-44c9-4a93-8e9f-513798138fe1"/>
    </config>
</config>
