<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="source_location_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_ReaderFileChooser"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="source_location">
            <config key="file_system_chooser__Internals">
                <entry key="has_fs_port" type="xboolean" value="true"/>
                <entry key="overwritten_by_variable" type="xboolean" value="false"/>
                <entry key="convenience_fs_category" type="xstring" value="LOCAL"/>
                <entry key="relative_to" type="xstring" value="knime.workflow.data"/>
                <entry key="mountpoint" type="xstring" value="knime-temp-space"/>
                <entry key="spaceId" type="xstring" value=""/>
                <entry key="spaceName" type="xstring" value=""/>
                <entry key="custom_url_timeout" type="xint" value="10000"/>
                <entry key="connected_fs" type="xboolean" value="true"/>
            </config>
            <config key="path">
                <entry key="location_present" type="xboolean" value="true"/>
                <entry key="file_system_type" type="xstring" value="CONNECTED"/>
                <entry key="file_system_specifier" type="xstring" value="ssh:localhost"/>
                <entry key="path" type="xstring" value="/upload"/>
            </config>
            <config key="filter_mode_Internals">
                <entry key="SettingsModelID" type="xstring" value="SMID_FilterMode"/>
                <entry key="EnabledStatus" type="xboolean" value="true"/>
            </config>
            <config key="filter_mode">
                <entry key="filter_mode" type="xstring" value="FILES_IN_FOLDERS"/>
                <entry key="include_subfolders" type="xboolean" value="true"/>
                <config key="filter_options">
                    <entry key="filter_files_extension" type="xboolean" value="false"/>
                    <entry key="files_extension_expression" type="xstring" value=""/>
                    <entry key="files_extension_case_sensitive" type="xboolean" value="false"/>
                    <entry key="filter_files_name" type="xboolean" value="false"/>
                    <entry key="files_name_expression" type="xstring" value="*"/>
                    <entry key="files_name_case_sensitive" type="xboolean" value="false"/>
                    <entry key="files_name_filter_type" type="xstring" value="WILDCARD"/>
                    <entry key="include_hidden_files" type="xboolean" value="false"/>
                    <entry key="include_special_files" type="xboolean" value="true"/>
                    <entry key="filter_folders_name" type="xboolean" value="false"/>
                    <entry key="folders_name_expression" type="xstring" value="*"/>
                    <entry key="folders_name_case_sensitive" type="xboolean" value="false"/>
                    <entry key="folders_name_filter_type" type="xstring" value="WILDCARD"/>
                    <entry key="include_hidden_folders" type="xboolean" value="false"/>
                    <entry key="follow_links" type="xboolean" value="true"/>
                </config>
            </config>
        </config>
        <config key="destination_location_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_WriterFileChooser"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="destination_location">
            <config key="file_system_chooser__Internals">
                <entry key="has_fs_port" type="xboolean" value="true"/>
                <entry key="overwritten_by_variable" type="xboolean" value="false"/>
                <entry key="convenience_fs_category" type="xstring" value="LOCAL"/>
                <entry key="relative_to" type="xstring" value="knime.workflow.data"/>
                <entry key="mountpoint" type="xstring" value="knime-temp-space"/>
                <entry key="spaceId" type="xstring" value=""/>
                <entry key="spaceName" type="xstring" value=""/>
                <entry key="connected_fs" type="xboolean" value="true"/>
            </config>
            <config key="path">
                <entry key="location_present" type="xboolean" value="true"/>
                <entry key="file_system_type" type="xstring" value="CONNECTED"/>
                <entry key="file_system_specifier" type="xstring" value="ssh:localhost"/>
                <entry key="path" type="xstring" value="/output"/>
            </config>
            <config key="filter_mode_Internals">
                <entry key="SettingsModelID" type="xstring" value="SMID_FilterMode"/>
                <entry key="EnabledStatus" type="xboolean" value="true"/>
            </config>
            <entry key="create_missing_folders" type="xboolean" value="true"/>
        </config>
        <entry key="destination_file_path" type="xstring" value="RELATIVE"/>
        <config key="folder_prefix_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="false"/>
        </config>
        <entry key="folder_prefix" type="xstring" value="&lt;folder prefix&gt;"/>
        <config key="transfer_policy_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="transfer_policy" type="xstring" value="FAIL"/>
        <config key="delete_source_files_folders_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="delete_source_files_folders" type="xboolean" value="false"/>
        <config key="fail_on_unsuccessful_deletion_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="false"/>
        </config>
        <entry key="fail_on_unsuccessful_deletion" type="xboolean" value="false"/>
        <config key="detailed_output_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="false"/>
        </config>
        <entry key="detailed_output" type="xboolean" value="false"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="CONFIGURED"/>
    <config key="nodecontainer_message">
        <entry key="type" type="xstring" value="ERROR"/>
        <entry key="message" type="xstring" value="Execute failed: Output file '/output/10253/0/10253_idx5_x1001_y1001_class0.png' exists and must not be overwritten due to user settings."/>
    </config>
    <entry key="factory" type="xstring" value="org.knime.filehandling.utility.nodes.transfer.filechooser.TransferFilesFileChooserNodeFactory"/>
    <entry key="node-name" type="xstring" value="Transfer Files"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Filehandling Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.filehandling.utility.nodes"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.4.0.v202410311319"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.4.1.v202503071316"/>
    <config key="factory_settings"/>
    <config key="node_creation_config">
        <config key="Source File System Connection">
            <config key="port_0">
                <entry key="object_class" type="xstring" value="org.knime.filehandling.core.port.FileSystemPortObject"/>
            </config>
        </config>
        <config key="Destination File System Connection">
            <config key="port_0">
                <entry key="object_class" type="xstring" value="org.knime.filehandling.core.port.FileSystemPortObject"/>
            </config>
        </config>
        <config key="Output"/>
    </config>
    <entry key="name" type="xstring" value="Transfer Files"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
