<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="dbTable_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_dbmetadata"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="dbTable">
            <entry key="database" type="xstring" value=""/>
            <entry key="schema" type="xstring" value=""/>
            <entry key="table" type="xstring" value="delayed_flights_table_pg"/>
        </config>
        <config key="setColumns">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="62"/>
                <entry key="0" type="xstring" value="FlightDate"/>
                <entry key="1" type="xstring" value="Airline"/>
                <entry key="2" type="xstring" value="Origin"/>
                <entry key="3" type="xstring" value="Destination"/>
                <entry key="4" type="xstring" value="Canceled"/>
                <entry key="5" type="xstring" value="Diverted"/>
                <entry key="6" type="xstring" value="CRSDepartureTime"/>
                <entry key="7" type="xstring" value="DepartureTime"/>
                <entry key="8" type="xstring" value="DepartureDelayInMinutes"/>
                <entry key="9" type="xstring" value="DepartureDelay"/>
                <entry key="10" type="xstring" value="ArrivalTime"/>
                <entry key="11" type="xstring" value="ArrivalDelayInMinutes"/>
                <entry key="12" type="xstring" value="AirTime"/>
                <entry key="13" type="xstring" value="CRSElapsedTime"/>
                <entry key="14" type="xstring" value="ActualElapsedTime"/>
                <entry key="15" type="xstring" value="Distance"/>
                <entry key="16" type="xstring" value="FlightYear"/>
                <entry key="17" type="xstring" value="FlightQuarter"/>
                <entry key="18" type="xstring" value="FlightMonth"/>
                <entry key="19" type="xstring" value="FlightDayOfMonth"/>
                <entry key="20" type="xstring" value="FlightDayOfWeek"/>
                <entry key="21" type="xstring" value="MarketingAirlineNetwork"/>
                <entry key="22" type="xstring" value="OperatedOrBrandedCodeSharePartners"/>
                <entry key="23" type="xstring" value="DotIdMarketingAirline"/>
                <entry key="24" type="xstring" value="IataCodeMarketingAirline"/>
                <entry key="25" type="xstring" value="FlightNumberMarketingAirline"/>
                <entry key="26" type="xstring" value="OperatingAirline"/>
                <entry key="27" type="xstring" value="DotIdOperatingAirline"/>
                <entry key="28" type="xstring" value="IataCodeOperatingAirline"/>
                <entry key="29" type="xstring" value="TailNumber"/>
                <entry key="30" type="xstring" value="FlightNumberOperatingAirline"/>
                <entry key="31" type="xstring" value="OriginAirportID"/>
                <entry key="32" type="xstring" value="OriginAirportSeqID"/>
                <entry key="33" type="xstring" value="OriginCityMarketID"/>
                <entry key="34" type="xstring" value="OriginCityName"/>
                <entry key="35" type="xstring" value="OriginState"/>
                <entry key="36" type="xstring" value="OriginStateFips"/>
                <entry key="37" type="xstring" value="OriginStateName"/>
                <entry key="38" type="xstring" value="OriginWac"/>
                <entry key="39" type="xstring" value="DestinationAirportID"/>
                <entry key="40" type="xstring" value="DestAirportSeqID"/>
                <entry key="41" type="xstring" value="DestCityMarketID"/>
                <entry key="42" type="xstring" value="DestCityName"/>
                <entry key="43" type="xstring" value="DestState"/>
                <entry key="44" type="xstring" value="DestStateFips"/>
                <entry key="45" type="xstring" value="DestStateName"/>
                <entry key="46" type="xstring" value="DestWac"/>
                <entry key="47" type="xstring" value="DepartureDelay15"/>
                <entry key="48" type="xstring" value="DepartureDelayGroups"/>
                <entry key="49" type="xstring" value="DepartureTimeBlock"/>
                <entry key="50" type="xstring" value="TaxiOut"/>
                <entry key="51" type="xstring" value="WheelsOff"/>
                <entry key="52" type="xstring" value="WheelsOn"/>
                <entry key="53" type="xstring" value="TaxiIn"/>
                <entry key="54" type="xstring" value="CRSArrivalTime"/>
                <entry key="55" type="xstring" value="ArrivalDelay"/>
                <entry key="56" type="xstring" value="ArrivalDelay15"/>
                <entry key="57" type="xstring" value="ArrivalDelayGroups"/>
                <entry key="58" type="xstring" value="ArrivalTimeBlock"/>
                <entry key="59" type="xstring" value="DistanceGroup"/>
                <entry key="60" type="xstring" value="DivertedAirportLandings"/>
                <entry key="61" type="xstring" value="FlightWeekOfYear"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="0"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
                <entry key="excludeMatching" type="xboolean" value="false"/>
            </config>
            <config key="datatype">
                <config key="typelist">
                    <entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
                </config>
            </config>
        </config>
        <config key="knime_to_external_mapping_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_dataTypeMapping"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="knime_to_external_mapping">
            <config key="type_to_type_mapping_rules">
                <config key="type_to_type_mapping_rule_0">
                    <config key="type">
                        <entry key="cell_class" type="xstring" value="org.knime.core.data.time.localdatetime.LocalDateTimeCell"/>
                    </config>
                    <entry key="intermediate_type" type="xstring" value="java.lang.String"/>
                    <entry key="external_type" type="xstring" value="VARCHAR"/>
                    <entry key="consumption_path_converter" type="xstring" value="org.knime.core.data.convert.java.SimpleDataCellToJavaConverterFactory(DataValue,class java.lang.String,String (toString()))"/>
                    <entry key="consumption_path_converter_src" type="xstring" value="org.knime.core.data.DataValue"/>
                    <entry key="consumption_path_converter_dst" type="xstring" value="java.lang.String"/>
                    <entry key="consumption_path_converter_name" type="xstring" value="String (toString())"/>
                    <config key="consumption_path_converter_config"/>
                    <entry key="consumption_path_consumer" type="xstring" value="java.lang.String-&gt;VARCHAR"/>
                    <entry key="consumption_path_consumer_src" type="xstring" value="java.lang.String"/>
                    <entry key="consumption_path_consumer_dst" type="xstring" value="VARCHAR"/>
                    <entry key="consumption_path_consumer_name" type="xstring" value="VARCHAR"/>
                    <config key="consumption_path_consumer_config"/>
                </config>
            </config>
        </config>
        <config key="batchSize_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="batchSize" type="xint" value="1000"/>
        <config key="failOnError_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="failOnError" type="xboolean" value="true"/>
        <config key="showStatus_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="showStatus" type="xboolean" value="true"/>
        <config key="disableDbDataPort_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="disableDbDataPort" type="xboolean" value="false"/>
        <config key="dropExisting_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="dropExisting" type="xboolean" value="false"/>
    </config>
    <config key="nodeAnnotation">
        <entry key="text" type="xstring" value="Write Data to%%00010Postgres Table"/>
        <entry key="contentType" type="xstring" value="text/plain"/>
        <entry key="bgcolor" type="xint" value="16777215"/>
        <entry key="x-coordinate" type="xint" value="0"/>
        <entry key="y-coordinate" type="xint" value="0"/>
        <entry key="width" type="xint" value="0"/>
        <entry key="height" type="xint" value="0"/>
        <entry key="alignment" type="xstring" value="CENTER"/>
        <entry key="borderSize" type="xint" value="0"/>
        <entry key="borderColor" type="xint" value="0"/>
        <entry key="defFontSize" type="xint" value="-1"/>
        <entry key="annotation-version" type="xint" value="20230412"/>
        <config key="styles"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="IDLE"/>
    <entry key="factory" type="xstring" value="org.knime.database.node.io.write.DBWriteNodeFactory"/>
    <entry key="node-name" type="xstring" value="DB Writer"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME database nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.database.nodes"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.4.1.v202501291459"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Database"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.database.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.4.1.v202503051052"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="DB Writer"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
        <config key="port_2">
            <entry key="index" type="xint" value="2"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
